html{
	height: 85%;
}
body{
	background-image: url(../img/background_index.jpg);
	background-size: 100%;
	height: 100%;
	background-repeat: no-repeat ;
	background-position: 0 -100px;
}
.container{
/* 	margin-top: 50px; */
}
a{
	text-decoration: none;
}
.navbar{
	height: 10%;
}
.index{
	height: 100%;
	display:flex;
    align-items: center; 
    justify-content: center;
}
.index h1{
	margin: auto;
	vertical-align: center;
	color: white;
	font-size: 3em;
	border: 4px white solid;
	border-radius: 4px;
	padding: 10px 20px;
	background-color: rgba(219,219,219,0.3);
	width: 766px;
}
.index a:hover{
	text-decoration: none;
}
.nav>*>*{
	display: inline-block;
}
.nav>.btn:hover{
	background: black;
	color: white;
	transition-duration: 0.2s;
}
h2{
	color: white;
	font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida" ;
	position: relative;
	top: 10px;
}
.navbar .btn{
	float: right;
	position: relative;
	top: 20px;
	margin-left: 20px;
	font-weight: 600;
}
