#all_tracks{
	position: relative;
}
.del{
	display: block;
	position: relative;
	right: 0px;
	margin-bottom:  104px;
	margin-top: 0px;
	padding: 0;
	border: 0;
}
#del{
	position: absolute;
	top: 261px;
	right: 0px;
}
.edit_track{
	display: block;
	position: relative;
	right: 0px;
	margin-bottom:  104px;
	margin-top: 0px;
	padding: 0;
	border: 0;
}
#edit_track{
	position: absolute;
	top: 261px;
	right: 40px;
}
