.profile {
	padding: 20px;
	height: 300px;
}
.profile-avatar {
	height: 260px;
	width: 260px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 130px;
	float: left;
}
.profile-info-wrapper {
	float: left;
}
.profile-info {
	margin-top: 40px;
	margin-left: 60px;
	/*float: left;*/
	background-color: #333;
	color: white;
	font-size: 24px;
	padding: 5px 10px;
}
.profile-address {
	margin-top: 10px;
	margin-left: 60px;
	float: left;
	background-color: #333;
	color: #ccc;
	font-size: 16px;
	padding: 5px 10px;
}

.tabs-select {
	margin-top: 20px;
}
.profile-detail {
	float: right !important;
	margin-right: 20px;
}
.profile-detail a {
	border-color: #ccc !important;
	padding: 6px 12px !important;
	border-radius: 4px !important;
	margin-bottom: 5px;
}
.user-action.unfollow{
	background-color: #f50;
	color: #fff;
	font-size: 15px;
	padding: 2px 9px 2px 8px;
	height: 35px;
	border: 1px solid #f50;
	border-radius: 3px;
	cursor: pointer;
	width: 100px;
}
.user-action.following{
	background-color: white;
	color: #f50;
	font-size: 15px;
	padding: 2px 9px 2px 8px;
	height: 35px;
	border: 1px solid #f50;
	border-radius: 3px;
	cursor: pointer;
	width: 100px;
}
.user-action:focus {
	outline: none;
}


#all_tracks{
	position: relative;
}
.del{
	display: block;
	position: relative;
	right: 0px;
	margin-bottom:  104px;
	margin-top: 0px;
	padding: 0;
	border: 0;
}
#del{
	position: absolute;
	top: 261px;
	right: 0px;
}
.edit_track{
	display: block;
	position: relative;
	right: 0px;
	margin-bottom:  104px;
	margin-top: 0px;
	padding: 0;
	border: 0;
}
#edit_track{
	position: absolute;
	top: 261px;
	right: 40px;
}
#loading{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
}